<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Get Started</h2>
        <h3 class="section-subheading text-muted">Here is instructions on how to install:</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">GNU/Linux</h4><br>

        <p><strong>Ubuntu</strong><br>
        The package for Ubuntu is available via our Launchpad PPA.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/Ubuntu-installation-instruction">Read more in the Ubuntu wiki page</a></p>

        <p><strong>Debian</strong><br>
        Debian users can install Persepolis using standalone .deb packages.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/debian-installation-instruction">See the Debian wiki guide for details</a></p>

        <p><strong>Arch Linux</strong><br>
        Available in both official repositories and as the latest git version in AUR.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/Arch-Linux-Installer">Follow the Arch guide on our wiki</a></p>

        <p><strong>Fedora</strong><br>
        Persepolis is included in Fedora's official repositories.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/Fedora-Installer">Learn more in the Fedora section of our wiki</a></p>

        <p><strong>openSUSE</strong><br>
        Installation instructions for openSUSE are available with step-by-step guidance.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/Open-suse-Installer">Check the openSUSE wiki page</a></p>

        <p><strong>Bundle for all Linux distributions</strong><br>
        A portable bundle for all Linux distributions is available on the <a href="https://github.com/persepolisdm/persepolis/releases">releases page</a>.<br>
        <a href="https://github.com/persepolisdm/persepolis/wiki/Linux-bundle-en">See more details on the bundle in the wiki</a></p>
      </div>

      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <img class="fa-stack-1x fa-inverse" src='../img/bsd.png'></img>
        </span>
        <h4 class="service-heading">BSD</h4>
        <p>Visit <a href="https://github.com/persepolisdm/persepolis/wiki/FreeBSD-Support">wiki for learning how to install Persepolis on FreeBSD</a></p>

        <br>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">MacOS</h4>
        <p class="">To install Persepolis on MacOS, you need to just simply download the latest package from the <a href="https://github.com/persepolisdm/persepolis/releases">releases page</a> then copy the .app file to your Applications folder!</p>
        <p><a href="https://github.com/persepolisdm/persepolis/wiki/MacOS-Installer">more details on persepolis wiki</a></p>

        <br>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Microsoft Windows</h4>
        <p>Simply download and run Persepolis setup according to your system architecture <br> <a href="https://github.com/persepolisdm/persepolis/wiki/Microsoft-Windows">follow wiki for more details </a></p>
      </div>
    </div>
  </div>
</section>
